{% extends '::base.html.twig' %}

{% block body %}
{{ form(form) }}
<table class="records_list">
        <h3>Recientes:</h3>
        <div class="row">
        {% for entity in entities %}
            <div class="col-md-4">
                
                <p><a href="{{ path('teg_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></p>
                
                ({{ entity.publicacion|date('d-m-Y') }})
                {{ entity.escuela }}
                
            </div>
        {% endfor %}
        </div>
    </table>

<img src="{# { asset('img/logo.jpg') } #}">





{% endblock %}