{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block submit_widget %}
        <input type="submit" id="search_submit" name="search[submit]" {{ block('attributes') }} value="{{ value }}" name="{{ name }}" />
{% endblock %}

{% block body %}
<div id="home" ng-controller="searchTegController">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-xs-12 navbar-brand"></div>
            <div class="col-xs-12 input-group">
                <div class="input-group">
                    {{ form_widget(form.q) }}
                    <span class="input-group-btn">
                        {{ form_widget(form.submit) }}
                    </span>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}