{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block submit_widget %}
        <input type="submit" id="search_submit" name="search[submit]" {{ block('attributes') }} value="{{ value }}" name="{{ name }}" />
{% endblock %}

{% block body %}
{% if form is defined %}

<div ng-controller="searchTegController">
    {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="form-group col-xs-10 col-md-8 col-lg-5" style="margin-bottom: 10px;padding-right: 0px;" ng-init="q='{{form.q.vars.value}}';">
                {{ form_widget(form.q) }}
            </div>
            <div class="form-group col-md-1" style="width:initial;padding-left: 0px;padding-right: 0px;">
                {{ form_widget(form.submit) }}{{ form_widget(form._token) }}    
            </div>
            <div class="form-group col-xs-5 col-md-4 col-lg-2" style="padding-right: 0px;">
               {{ form_widget(form.escuela) }}
            </div>
            <div class="form-group col-xs-6 col-md-5 col-lg-3 input-group" ng-init="desde='{{form.desde.vars.value}}';hasta='{{form.hasta.vars.value}}';escuela='{{form.escuela.vars.value}}';">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                {{ form_widget(form.desde) }}
                <span class="input-group-addon">a</span>
                {{ form_widget(form.hasta) }}
            </div>
                
    {{ form_rest(form) }}
    {{ form_end(form, {'render_rest': false}) }}
    <span ng-show="isInvalid()">Seleccione uno filtro รณ ingrese palabra o frase</span>
</div>
{% endif %} 

    <h5>{{ entities | length }} de {{ pagination.getTotalItemCount }} disponibles</h5>
    
        {% for entity in entities %}
        <div class="col-md-9 col-xs-12">
            <div class="well well-sm {% if not entity.published %}oculto{% endif %}">
                    <div class="section-box">
                        <h4 style="margin-top: 0px;"><a href="{{ path('teg_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h4>

                        <p><b>{% for Field in entity.authors %}{{ Field }},{% endfor %}{% for Field in entity.tuthors %}{{ Field }},{% endfor %}</b></br><i>{% for Field in entity.keyWords %}{{ Field }},{% endfor %}</i></p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-schools">{{entity.escuela}}</span><span class="separator">|</span>
                                <span><i class="fa fa-calendar"></i>&nbsp;{{ entity.publicacion|date('m-Y') }}</span>
                                    {% if (isAdmin or isSAdmin) %}
                                        {% if not entity.published %}
                                        <span style="float:right;"><i class="fa fa-eye-slash fa-lg"></i>&nbsp;Oculto</span>
                                        {% else %}
                                        <span style="float:right;"><i class="fa fa-eye fa-lg"></i>&nbsp;Publico</span>
                                        {% endif %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>                    
            </div>
        </div>
        {% endfor %}
        <div class="col-md-9 col-xs-12">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app/searchTeg/searchTegModule.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/app/searchTeg/searchTegController.js') }}" type="text/javascript"></script>
{% endblock %}