{% extends '::base.html.twig' %}
{% block body %}
{% if form is defined %}

<div ng-controller="searchTegController">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <span ng-show="valid()">Seleccione uno filtro รณ ingrese palabra o frase</span>
        <div class="row">
            <div class="col-md-6 col-xs-12" style="margin-bottom: 10px;" ng-init="q='{{form.q.vars.value}}';">
                {{ form_widget(form.q, { 'attr': {'ng-model': 'q','ng-required': 'valid()'} }) }}
                {{ form_widget(form.submit, { 'attr': {'ng-disabled': 'valid()'} }) }}
            </div>
            <div class="col-md-6 col-xs-12" ng-init="desde='{{form.desde.vars.value}}';hasta='{{form.hasta.vars.value}}';escuela='{{form.escuela.vars.value}}';">

                <label class="form-control-static">Filtros</label><span class="separator">|</span>
                <label class="form-control-static">Desde</label>
                {{ form_widget(form.desde, { 'attr': {'ng-model': 'desde' } }) }}<span class="separator">|</span>
                <label class="form-control-static">Hasta</label>
                {{ form_widget(form.hasta, { 'attr': {'ng-model': 'hasta' } }) }}<span class="separator">|</span>
                {{ form_widget(form.escuela, { 'attr': {'ng-model': 'escuela' } }) }}
            </div>
            {{ form_widget(form._token) }}
        </div>
    {{ form_rest(form) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endif %} 

    <h5>{{ entities | length }} de {{ pagination.getTotalItemCount }} disponibles</h5>
    
        {% for entity in entities %}
        {% if entity.published or isAdmin or isSAdmin %}
            
        <div class="col-md-9 col-xs-12">
            <div class="well well-sm">
                    <div class="section-box">
                        <h3><a href="{{ path('teg_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h3>

                        <p><b>{% for Field in entity.authors %}{{ Field }},{% endfor %}{% for Field in entity.tuthors %}{{ Field }},{% endfor %}</b></br><i>{% for Field in entity.keyWords %}{{ Field }},{% endfor %}</i></p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-schools">{{entity.escuela}}</span><span class="separator">|</span>
                                <span><i class="fa fa-calendar"></i>&nbsp;{{ entity.publicacion|date('m-Y') }}
                                    {% if (isAdmin or isSAdmin) %}
                                        {% if not entity.published %}
                                        <span style="float:right;"><i class="fa fa-eye-slash fa-lg"></i>&nbsp;Oculto</span>
                                        {% else %}
                                        <span style="float:right;"><i class="fa fa-eye fa-lg"></i>&nbsp;Publico</span>
                                        {% endif %}
                                    {% endif %}
                                    
                            </div>
                        </div>
                    </div>
                    
            </div>
        {% endif %}
        </div>
        {% endfor %}
        {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/tegController.js') }}" type="text/javascript"></script>

{% endblock %}