{% extends '::base.html.twig' %}

{% block body -%}
    <h1>teg list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cota</th>
                <th>Publicacion</th>
                <th>Titulo</th>
                <th>Palabrasclaves</th>
                <th>Resumen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('teg_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cota }}</td>
                <td>{% if entity.publicacion %}{{ entity.publicacion|date('m-Y') }}{% endif %}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.palabrasClaves }}</td>
                <td>{{ entity.resumen }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('teg_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('teg_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('teg_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
