{% extends '::base.html.twig' %}
{% block body -%}
{% if form is defined %}
{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form_widget(form.q) }}
            {{ form_widget(form.submit) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_label(form.desde)}}
            {{ form_widget(form.desde) }}
            {{ form_label(form.hasta)}}
            {{ form_widget(form.hasta) }}
            {{ form_label(form.escuela)}}
            {{ form_widget(form.escuela) }}
        </div>
        {{ form_widget(form._token) }}
    </div>
{{ form_rest(form) }}
{{ form_end(form, {'render_rest': false}) }}
{% endif %} 

    <h4>{{ entities | length }} disponibles</h4>
        {% for entity in entities %}
            
            <div class="col-md-9 col-xs-12">
            <div class="well well-sm">
                    <div class="section-box">
                        <h3><a href="{{ path('teg_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h3>

                        <p><b>{% for Field in entity.autores %}{{ Field}},{% endfor %}{% for Field in entity.tutores %}{{ Field }},{% endfor %}</b></br><i>{% for palabraField in entity.palabrasClave %}{{palabraField }},{% endfor %}</i></p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                </span><span class="glyphicon glyphicon-schools"></span>{{entity.escuela}}<span class="separator">|</span>
                                <i class="fa fa-calendar"></i>&nbsp;{{ entity.publicacion|date('m-Y') }}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        {% endfor %}

    {% endblock %}
