{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block widget_attributes %}
    id="{{ id }}" name="{{ full_name }}"
    {% if disabled %} disabled="disabled"{% endif %}
    {% if required %} required="required"{% endif %}
    {% for attrname, attrvalue in attr %}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
    {{- " " -}}
    {% if value is not empty %}
        value="{{ value }}"
        ng-init="formData.{{ id }}='{{ value }}';"
    {% endif %}
    ng-model="formData.{{ id }}"
    ng-class="{ error: formInputTeg['{{ full_name }}'].$error.required && !formInputTeg['{{ full_name }}'].$pristine}"
{%- endblock widget_attributes -%}


{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} />
    <span ng-show="!formInputTeg['{{ full_name }}'].$pristine && formInputTeg['{{ full_name }}'].$error.required">Este Campo es requerido.</span>
{% endblock form_widget_simple %}
{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}></textarea>
    <span ng-show="!formInputTeg['{{ full_name }}'].$pristine && formInputTeg['{{ full_name }}'].$error.required">Este Campo es requerido.</span>
{% endblock textarea_widget %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    <span ng-show="!formInputTeg['{{ full_name }}'].$pristine && formInputTeg['{{ full_name }}'].$error.required">Este Campo es requerido.</span>

{%- endblock choice_widget_collapsed -%}

{% use 'form_div_layout.html.twig' with form_label %}
{% block form_label %}
    {% if label is not sameas(false) -%}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty %}
            {% if label_format is not empty -%}
                {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if required %}<span style="color:red" title="Este campo es requerido"> (*)</span>
        {% endif %}
        {% if 'history' in label_attr.class %}
            <a data-toggle="modal" href="#{{historyUrl}}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
        {% endif %}
        {% if 'help' in label_attr.class %}
            <a data-toggle="modal" href="#{{helpUrl}}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
        {% endif %}
        </label>
    {% endif %}
{% endblock form_label %}
{############################################################################}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/bootstrap-switch/bootstrap-switch.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('plugins/ngTagsInput/ng-tags-input.min.css') }}" type="text/css" rel="stylesheet" />
    
    <link href="{{ asset('css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />

{% endblock %} 

{% block body %}

    <div ng-controller="newTegController">
        <h4 class="alert alert-{% if operacion == 0 %}{{'success'}}
        {% else %}{{'warning'}}{% endif %}"><a class="btn btn-danger" href="{{ path('teg') }}"><i class="fa fa-arrow-left fa-fw"></i>&nbsp;Cancelar</a>&nbsp;{% if operacion == 0 %}{{'Nuevo'}}
        {% else %}{{'Edición de'}}{% endif %} Trabajo Especial de Grado</h4>
        {{ form_start(form, { 'name': 'formInputTeg' }) }}

            {{ form_errors(form) }}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#paso1">Paso 1</a></li>
        <li><a data-toggle="tab" href="#paso2">Paso 2</a></li>
        <li><a data-toggle="tab" href="#paso3">Paso 3</a></li>
    </ul>
    <div class="tab-content">
        <div id="paso1" class="tab-pane fade in active">
        <p style="float: right;margin: initial;"><span style="color:red">(*)</span> Campos Obligatorios</p>
            <div class="form-group col-lg-12">
                {{ form_label(form.titulo) }}
                {{ form_errors(form.titulo) }}
                <div class="col-xs-9 col-lg-12" >
                    {{ form_widget(form.titulo) }}
                </div>
            </div>

            <div class="form-group col-lg-6">
                {{ form_label(form.authors) }}
                <div id="form-autor" class="col-xs-9">
                    <ul id="autor-fields-list" class="list-unstyled" ng-init="{% for i in form.authors %}addA('{{ i.vars.value}}');{% endfor %}">
                        <li>
                            {{ form_widget(form.authors[0].name) }}
                            {{ form_widget(form.authors[0].lastname) }}
                            {{ form_errors(form.authors[0]) }}
                        </li>

                        <label>Segundo autor (Opcional): <input type="checkbox" ng-model="segundoA" {% if form.authors[1] is defined %}ng-init="segundoA=true"{% endif %} /></label><br/>
                       
                        <li ng-if="segundoA" >
                            {% if form.authors[1] is defined %}
                            {{ form_widget(form.authors[1].name) }}
                            {{ form_widget(form.authors[1].lastname) }}
                            {{ form_errors(form.authors[1]) }}
                            {% else %}
                            <input type="text" id="biblioteca_tegbundle_teg_authors_1_name" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$pristine}" ng-model="biblioteca_tegbundle_teg_authors_1_name" name="biblioteca_tegbundle_teg[authors][1][name]" required="required" class="form-control" placeholder="Nombre">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$error.required">Este Campo es requerido.</span>
                            <input type="text" id="biblioteca_tegbundle_teg_authors_1_lastname" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$pristine}" ng-model="biblioteca_tegbundle_teg_authors_1_lastname" name="biblioteca_tegbundle_teg[authors][1][lastname]" required="required" class="form-control" placeholder="Apellido">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$error.required">Este Campo es requerido.</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(form.tuthors) }}
                <div id="form-tutor" class="col-xs-9">

                    <ul id="tutor-fields-list" class="list-unstyled" ng-init="{% for i in form.tuthors %}addA('{{ i.vars.value}}');{% endfor %}">
                        <li>
                            {{ form_widget(form.tuthors[0].name) }}
                            {{ form_widget(form.tuthors[0].lastname) }}
                            {{ form_errors(form.tuthors[0]) }}
                        </li>
                        <label>Segundo tutor (Opcional): <input type="checkbox" ng-model="segundoT" {% if form.tuthors[1] is defined %}ng-init="segundoT=true"{% endif %} /></label><br/>
                       
                        <li ng-if="segundoT" >
                            {% if form.tuthors[1] is defined %}
                            {{ form_widget(form.tuthors[1].name) }}
                            {{ form_widget(form.tuthors[1].lastname) }}
                            {{ form_errors(form.tuthors[1]) }}
                            {% else %}
                            <input type="text" id="biblioteca_tegbundle_teg_tuthors_1_name" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$pristine}" ng-model="biblioteca_tegbundle_teg_tuthors_1_name" name="biblioteca_tegbundle_teg[tuthors][1][name]" required="required" class="form-control" placeholder="Nombre">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$error.required">Este Campo es requerido.</span>
                            <input type="text" id="biblioteca_tegbundle_teg_tuthors_1_lastname" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$pristine}" ng-model="biblioteca_tegbundle_teg_tuthors_1_lastname" name="biblioteca_tegbundle_teg[tuthors][1][lastname]" required="required" class="form-control" placeholder="Apellido">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$error.required">Este Campo es requerido.</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group col-lg-6">
                {{ form_label(form.resumen) }}
                {{ form_errors(form.resumen) }}
                <div class="col-xs-9">
                    {{ form_widget(form.resumen) }}
                </div>
            </div>
            
            <div class="form-group col-lg-6">
                {{ form_label(form.keyWords) }}
                {{ form_errors(form.keyWords) }}

                <div class="col-xs-9" ng-init="{% for i in form.keyWords %}add('{{ i.vars.value}}');{% endfor %}">
                    <tags-input ng-model="keyWords" display-property="name" placeholder="Agregar palabra" template="tagtemplate" max-tags="15" allow-leftover-text="true" enable-editing-last-tag="true" replace-spaces-with-dashes="false" max-length="30"></tags-input>
                    <span ng-show="keyWords.length > 15 ">MAXIMO.</span>
                    <script type="text/ng-template" id="tagtemplate">
                      <div class="tag-template">
                        <div>
                          <input type="text" name="[['biblioteca_tegbundle_teg[keyWords]['+$index+'][keyWord]']]" value="[[$getDisplayText()]]" required="required" readonly style="line-height: initial;  background: rgba(255, 255, 255, 0);border: none;width: [[$getDisplayText().length * 8]]px;"/>
                          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                        </div>
                      </div>
                    </script>
                </div>
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(form.publicacion) }}
                {{ form_errors(form.publicacion) }}
                
                {% for Field in form.publicacion %}
                    <div class="col-md-2 col-xs-3 col-lg-3">
                        {{ form_errors(Field) }}
                        {{ form_widget(Field, { 'attr': {'class': 'form-control form-compacto'} }) }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group col-lg-6">
                {{ form_label(form.escuela) }}
                {{ form_errors(form.escuela) }}
                <div class="col-xs-9">
                    {{ form_widget(form.escuela) }}
                </div>
            </div>
            
        </div>
        <div id="paso2" class="tab-pane fade">
            <div class="form-group">
                {{ form_label(form.capitulos) }}
                {{ form_errors(form.capitulos) }}
                
                <div class="row">
                        {% for capField in form.capitulos %}
                                {{ form_errors(capField) }}
                                {{ form_widget(capField, { 'attr': {'class': 'col-lg-3 col-md-3 col-xs-6', 'ng-model':(capField.vars.id)} }) }}
                                <h1>{# { capField.vars.value } #}</h1>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div id="paso3" class="tab-pane fade">
            <div class="form-group" >
                {{ form_label(form.cota) }}
                {{ form_errors(form.cota) }}
                
                <div class="col-lg-2 col-md-3 col-xs-12" ng-init="initCota('{{form.cota.vars.value}}');">
                    <div class="input-group">
                        <span class="input-group-addon">[[cota_school]]</span>
                        <input type="number" string-to-number min="1" max="99" placeholder="Indice" ng-model="cota_index" required="required" class="form-control" style="width: initial;">
                        <span id="cota_year" class="input-group-addon">/[[cota_year]]</span>
                    </div>
                </div>
                {{ form_widget(form.cota, { 'attr': { 'ng-model':'cota','style':'display:none'} }) }}
            </div>
            
            <div class="form-group">
                
                {{ form_errors(form.published) }}
                <div class="col-xs-offset-3 col-xs-9">
                    {{ form_widget(form.published) }}
                    {{ form_label(form.published) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.reset) }}
                </div>
            </div>
        </div>
    </div>
      
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false} ) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('plugins/bootstrap-switch/bootstrap-switch.min.js') }}" type="text/javascript"></script>

   
    <script src="{{ asset('js/fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput_locale_es.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/app/newTeg/newTegModule.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/app/newTeg/newTegController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('plugins/ngTagsInput/ng-tags-input.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">$("[name='biblioteca_tegbundle_teg[published]']").bootstrapSwitch();
$('#biblioteca_tegbundle_teg_capitulos_0_file,#biblioteca_tegbundle_teg_capitulos_1_file,#biblioteca_tegbundle_teg_capitulos_2_file,#biblioteca_tegbundle_teg_capitulos_3_file,#biblioteca_tegbundle_teg_capitulos_4_file').fileinput({
    language: 'es',
    uploadUrl: '#',
    allowedFileExtensions : ['pdf'],
    showUpload: false/*,
    initialPreview: [
            '<img src="/biblioteca2/web/img/logo.jpg" class="file-preview-image" alt="The Moon" title="The Moon">'
        ],*/

});

    </script>
        
{% endblock %}
