{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block widget_attributes %}
    id="{{ id }}" name="{{ full_name }}"
    {% if disabled %} disabled="disabled"{% endif %}
    {% if required %} required="required"{% endif %}
    {% for attrname, attrvalue in attr %}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
    {{- " " -}}
    {% if value is not empty %}
        value="{{ value }}"
        ng-init="formData.{{ id }}='{{ value }}';"
    {% endif %}
    ng-model="formData.{{ id }}"
    ng-class="{ error: formInputTeg['{{ full_name }}'].$invalid && formInputTeg['{{ full_name }}'].$touched, valid: formInputTeg['{{ full_name }}'].$valid}"
{%- endblock widget_attributes -%}

 
{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    
   	<input type="{{ type }}" {{ block('widget_attributes') }} />

    {% if type == "text" %}
    <p class="text-danger" ng-show="formInputTeg['{{ full_name }}'].$touched && formInputTeg['{{ full_name }}'].$error.required"> <i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
    <p class="text-warning" ng-show="formInputTeg['{{ full_name }}'].$error.minlength"><i class="fa fa-exclamation-triangle"></i> Texto muy corto.</p>
    <p class="text-warning" ng-show="formInputTeg['{{ full_name }}'].$error.maxlength"><i class="fa fa-exclamation-triangle"></i> Texto muy largo.</p>
    {% endif %}
    {% if type == "date" %}
    <p class="text-danger" ng-show="formInputTeg['{{ full_name }}'].$touched && formInputTeg['{{ full_name }}'].$error.required"> <i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
    <p class="text-danger" ng-show="formInputTeg['{{ full_name }}'].$error.date"><i class="fa fa-exclamation-triangle"></i> Fecha invalida.</p>

    <p class="text-warning" ng-show="formInputTeg['{{full_name}}'].$error.min"><i class="fa fa-exclamation-triangle"></i> Inferior al permitido.</p>

    <p class="text-warning" ng-show="formInputTeg['{{ full_name }}'].$error.max"><i class="fa fa-exclamation-triangle"></i> Superior al permitido.</p>
    {% endif %}
    <!--p>formInputTeg['{{ full_name }}'] = "[[ formInputTeg['{{ full_name }}'] ]]"</p>
    <p>formInputTeg['{{ full_name }}'].$pristine = [[ formInputTeg['{{ full_name }}'].$pristine ]]</p>
    <p>formInputTeg['{{ full_name }}'].$error.required = [[ formInputTeg['{{ full_name }}'].$error.required ]]</p>
    <p>formInputTeg['{{ full_name }}'].$error = [[ formInputTeg['{{ full_name }}'].$error ]]</p>
    <p>formInputTeg['{{ full_name }}'].$valid = [[ formInputTeg['{{ full_name }}'].$valid ]]</p-->
{% endspaceless %}
{% endblock form_widget_simple %}
{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}></textarea>
    <p class="text-danger" ng-show="formInputTeg['{{ full_name }}'].$touched && formInputTeg['{{ full_name }}'].$error.required"> <i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
    <p class="text-warning" ng-show="formInputTeg['{{ full_name }}'].$error.minlength"><i class="fa fa-exclamation-triangle"></i> Resumen muy corto.</p>
    <p class="text-warning" ng-show="formInputTeg['{{ full_name }}'].$error.maxlength"><i class="fa fa-exclamation-triangle"></i> Resumen muy largo.</p>
    <!-- p>formInputTeg['{{ full_name }}'].$error.required = [[ formInputTeg['{{ full_name }}'].$error.required ]]</p>
    <p>formInputTeg['{{ full_name }}'].$error = [[ formInputTeg['{{ full_name }}'].$error ]]</p>
    <p>formInputTeg['{{ full_name }}'].$valid = [[ formInputTeg['{{ full_name }}'].$valid ]]</p -->
{% endblock textarea_widget %}
{% block date_widget %}
	{% spaceless %}
    {% if widget == 'single_text' %}
    	{% set type = type|default('date') %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
	{% endspaceless %}
{% endblock date_widget %}
{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    <p class="text-danger" ng-show="formInputTeg['{{ full_name }}'].$touched && formInputTeg['{{ full_name }}'].$error.required"> <i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
    <!--p>formInputTeg['{{ full_name }}'].$error.required = [[ formInputTeg['{{ full_name }}'].$error.required ]]</p>
    <p>formInputTeg['{{ full_name }}'].$error = [[ formInputTeg['{{ full_name }}'].$error ]]</p>
    <p>formInputTeg['{{ full_name }}'].$valid = [[ formInputTeg['{{ full_name }}'].$valid ]]</p -->
{%- endblock choice_widget_collapsed -%}

{% use 'form_div_layout.html.twig' with form_label %}
{% block form_label %}
    {% if label is not sameas(false) -%}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty %}
            {% if label_format is not empty -%}
                {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><i class="fa fa-check-circle text-success" ng-show="isValid('{{ full_name }}')"></i>{{ label|trans({}, translation_domain) }}{% if required %}<span style="color:red" title="Este campo es requerido"> (*)</span>
        {% endif %}
        {% if 'history' in label_attr.class %}
            <a data-toggle="modal" href="#{{historyUrl}}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
        {% endif %}
        {% if 'help' in label_attr.class %}
            <a data-toggle="modal" href="#{{helpUrl}}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
        {% endif %}
        </label>
    {% endif %}
{% endblock form_label %}
{############################################################################}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/bootstrap-switch/bootstrap-switch.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('plugins/ngTagsInput/ng-tags-input.min.css') }}" type="text/css" rel="stylesheet" />
    
    <link href="{{ asset('css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %} 

{% block body %}
<div class="panel panel-{% if operacion == 0 %}{{'success'}}{% else %}{{'warning'}}{% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">{% if operacion == 0 %}{{'Nuevo'}}{% else %}{{'Edición de'}}{% endif %} Trabajo Especial de Grado<p style="float: right;"><span style="color:red">(*)</span> Campos Obligatorios</p></h3>
    </div>
    <div class="panel-body" ng-controller="newTegController">
        {{ form_start(form, { 'name': 'formInputTeg' }) }}

            {{ form_errors(form) }}
    
    <div class="tab-content">
        <div id="paso1" class="tab-pane fade in active">
            <div class="navbar" style="margin: -15px; margin-bottom: 5px;">
            <a style="float:left;"class="btn btn-danger" href="{{ path('teg') }}">Cancelar</a>
            <a ng-disabled="!pasoUnoValid" style="float:right;" class="btn btn-primary" data-toggle="tab" href="#paso2">Siguiente&nbsp;<i class="fa fa-arrow-right fa-fw"></i></a>
            </div>
            <div class="form-group col-lg-12">
                {{ form_label(form.titulo) }}
                {{ form_errors(form.titulo) }}
                <div class="col-xs-9 col-lg-12" >
                    {{ form_widget(form.titulo) }}
                </div>
            </div>

            <div class="form-group col-lg-6">
                {{ form_label(form.authors) }}
                <div id="form-autor" class="col-xs-9">
                    <ul id="autor-fields-list" class="list-unstyled" ng-init="{% for i in form.authors %}addA('{{ i.vars.value}}');{% endfor %}">
                        <li>
                            {{ form_errors(form.authors) }}
                            {{ form_widget(form.authors[0].name) }}
                            {{ form_widget(form.authors[0].lastname) }}
                        </li>
                        <label>Segundo autor (Opcional): <input type="checkbox" ng-model="segundoA" {% if form.authors[1] is defined %}ng-init="segundoA=true"{% endif %} /></label><br/>
                       
                        <li ng-if="segundoA" >
                            {% if form.authors[1] is defined %}
                            {{ form_widget(form.authors[1].name) }}
                            {{ form_widget(form.authors[1].lastname) }}
                            {{ form_errors(form.authors[1]) }}
                            {% else %}
                            <input type="text" id="biblioteca_tegbundle_teg_authors_1_name" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$pristine}" ng-model="biblioteca_tegbundle_teg_authors_1_name" name="biblioteca_tegbundle_teg[authors][1][name]" required="required" class="form-control" placeholder="Nombre">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[authors][1][name]'].$error.required">Este Campo es requerido.</span>
                            <input type="text" id="biblioteca_tegbundle_teg_authors_1_lastname" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$pristine}" ng-model="biblioteca_tegbundle_teg_authors_1_lastname" name="biblioteca_tegbundle_teg[authors][1][lastname]" required="required" class="form-control" placeholder="Apellido">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[authors][1][lastname]'].$error.required">Este Campo es requerido.</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(form.tuthors) }}
                <div id="form-tutor" class="col-xs-9">

                    <ul id="tutor-fields-list" class="list-unstyled" ng-init="{% for i in form.tuthors %}addA('{{ i.vars.value}}');{% endfor %}">
                        <li>
                            {{ form_widget(form.tuthors[0].name) }}
                            {{ form_widget(form.tuthors[0].lastname) }}
                            {{ form_errors(form.tuthors[0]) }}
                        </li>
                        <label>Segundo tutor (Opcional): <input type="checkbox" ng-model="segundoT" {% if form.tuthors[1] is defined %}ng-init="segundoT=true"{% endif %} /></label><br/>
                       
                        <li ng-if="segundoT" >
                            {% if form.tuthors[1] is defined %}
                            {{ form_widget(form.tuthors[1].name) }}
                            {{ form_widget(form.tuthors[1].lastname) }}
                            {{ form_errors(form.tuthors[1]) }}
                            {% else %}
                            <input type="text" id="biblioteca_tegbundle_teg_tuthors_1_name" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$pristine}" ng-model="biblioteca_tegbundle_teg_tuthors_1_name" name="biblioteca_tegbundle_teg[tuthors][1][name]" required="required" class="form-control" placeholder="Nombre">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[tuthors][1][name]'].$error.required">Este Campo es requerido.</span>
                            <input type="text" id="biblioteca_tegbundle_teg_tuthors_1_lastname" ng-class="{ error: formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$error.required && !formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$pristine}" ng-model="biblioteca_tegbundle_teg_tuthors_1_lastname" name="biblioteca_tegbundle_teg[tuthors][1][lastname]" required="required" class="form-control" placeholder="Apellido">
                            <span ng-show="!formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$pristine && formInputTeg['biblioteca_tegbundle_teg[tuthors][1][lastname]'].$error.required">Este Campo es requerido.</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group col-lg-6">
                {{ form_label(form.resumen) }}
                {{ form_errors(form.resumen) }}
                <div class="col-xs-9">
                    {{ form_widget(form.resumen) }}
                </div>
            </div>
            
            <div class="form-group col-lg-6">
                {{ form_label(form.keyWords) }}
                {{ form_errors(form.keyWords) }}
                <div class="col-xs-9" ng-init="{% for i in form.keyWords %}add('{{ i.vars.value}}');{% endfor %}">
                    <tags-input name="{{ form.keyWords.vars.full_name }}" ng-model="formData.{{ form.keyWords.vars.id }}" display-property="word" required placeholder="Agregar palabra" template="tagtemplate" min-tags="3" max-tags="15" allow-leftover-text="true" enable-editing-last-tag="true" replace-spaces-with-dashes="false" max-length="30" ng-class="{ error: formInputTeg['{{ form.keyWords.vars.full_name }}'].$invalid && formInputTeg['{{ form.keyWords.vars.full_name }}'].$touched, defaultTags: formInputTeg['{{ form.keyWords.vars.full_name }}'].$untouched, valid:formInputTeg['{{ form.keyWords.vars.full_name }}'].$valid }"></tags-input>
                    <p class="text-danger" ng-show="formInputTeg['{{ form.keyWords.vars.full_name }}'].$touched && formInputTeg['{{ form.keyWords.vars.full_name }}'].$error.required"><i class="fa fa-exclamation-triangle"></i> Este Campo es requerido.</p>
                    <p class="text-warning" ng-show="formInputTeg['{{ form.keyWords.vars.full_name }}'].$touched && formInputTeg['{{ form.keyWords.vars.full_name }}'].$error.minTags && !formInputTeg['{{ form.keyWords.vars.full_name }}'].$error.required"><i class="fa fa-exclamation-triangle"></i> Minimo de 3 palabras.</p>
                    <p class="text-warning" ng-show="formInputTeg['{{ form.keyWords.vars.full_name }}'].$touched && formInputTeg['{{ form.keyWords.vars.full_name }}'].$error.maxTags"><i class="fa fa-exclamation-triangle"></i> Maximo de 15 palabras.</p>
       
					<!--p>formInputTeg['{{ form.keyWords.vars.full_name }}'] = [[ formInputTeg['{{ form.keyWords.vars.full_name }}'] ]]</p>
					<p>formInputTeg['{{ form.keyWords.vars.full_name }}'].$touched = [[ formInputTeg['{{ form.keyWords.vars.full_name }}'].$touched ]]</p>
					<p>formInputTeg['{{ form.keyWords.vars.full_name }}'].$error = [[ formInputTeg['{{ form.keyWords.vars.full_name }}'].$error ]]</p>
					<p>formInputTeg['{{ form.keyWords.vars.full_name }}'].$valid = [[ formInputTeg['{{ form.keyWords.vars.full_name }}'].$valid ]]</p-->

                    <script type="text/ng-template" id="tagtemplate">
                      <div class="tag-template">
                        <div>
                        	<input type="text" id="[['biblioteca_tegbundle_teg_keyWords_'+$index+'_keyWord']]" name="[['biblioteca_tegbundle_teg[keyWords]['+$index+'][keyWord]']]" value="[[$getDisplayText()]]" required="required" readonly style="line-height: initial;  background: rgba(255, 255, 255, 0);border: none;width: [[$getDisplayText().length * 8]]px;"/>
                          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                        </div>
                      </div>
                    </script>
                </div>
            </div>
        	<div class="form-group col-lg-6">
                {{ form_label(form.publicacion) }}
                {{ form_errors(form.publicacion) }}
                <div class="col-xs-9">
                    {{ form_widget(form.publicacion) }}
                </div>
            </div>

            <div class="form-group col-lg-6">
                {{ form_label(form.escuela) }}
                {{ form_errors(form.escuela) }}
                <div class="col-xs-9">
                    {{ form_widget(form.escuela) }}
                </div>
            </div>            
        </div>
        <div id="paso2" class="tab-pane fade">
            <div class="navbar" style="margin: -15px; margin-bottom: 5px;">
            <a style="float:left;"class="btn btn-default" data-toggle="tab" href="#paso1"><i class="fa fa-arrow-left fa-fw"></i>&nbsp;Volver</a>
            <a style="float:right;" class="btn btn-primary" data-toggle="tab" href="#paso3">Siguiente&nbsp;<i class="fa fa-arrow-right fa-fw"></i></a>
            </div>
            <div class="form-group">
                {{ form_errors(form.capitulos) }}
                {{ form_label(form.capitulos) }}
					 	
                <div class="row">
                	<ul class="nav nav-pills col-md-3">
                		<li class="col-md-12 active"><a href="#cap1" data-toggle="tab">1 <span class="badge" style="background-color: crimson;"!</span></a></li>
					 	<li class="col-md-12"><a href="#cap2" data-toggle="tab">2</a></li>
					 	<li class="col-md-12"><a href="#cap3" data-toggle="tab">3</a></li>
					 	<li class="col-md-12"><a href="#cap4" data-toggle="tab">4</a></li>
					 	<li class="col-md-12"><a href="#cap5" data-toggle="tab">5</a></li>
					 </ul>
                	<div class="tab-content col-md-9">
                        {% for capField in form.capitulos %}
                        <div id="cap{{loop.index}}" class="tab-pane fade {% if loop.first %}in active{% endif %} col-md-6">
                        	{% if capField.errors[0].message is defined %}
				            <span class="help-block">
				                {{ form_errors(capField) }}
                            </span>
				            {% endif %}
                        	    {{ form_widget(capField) }}
                                <h1>{{ capField.vars.value }}</h1>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="paso3" class="tab-pane fade">
            <div class="navbar" style="margin: -15px; margin-bottom: 5px;">
            <a style="float:left;"class="btn btn-default" data-toggle="tab" href="#paso2"><i class="fa fa-arrow-left fa-fw"></i>&nbsp;Volver</a>
            </div>
            <div class="form-group" >
                {{ form_label(form.cota) }}
                {{ form_errors(form.cota) }}
                
                <div class="col-lg-2 col-md-3 col-xs-12" ng-init="initCota('{{form.cota.vars.value}}');">
                    <div class="input-group">
                        <span class="input-group-addon">[[cota_school]]</span>
                        <input type="number" string-to-number min="1" max="99" placeholder="Indice" ng-model="cota_index" required="required" class="form-control" style="width: initial;">
                        <span id="cota_year" class="input-group-addon">/[[cota_year]]</span>
                    </div>
                </div>
                {{ form_widget(form.cota, { 'attr': { 'ng-model':'cota','style':'display:none'} }) }}
            </div>
            
            <div class="form-group">
                
                {{ form_errors(form.published) }}
                <div class="col-xs-offset-3 col-xs-9">
                    {{ form_widget(form.published) }}
                    {{ form_label(form.published) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.reset) }}
                </div>
            </div>
        </div>
    </div>
      
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false} ) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('plugins/bootstrap-switch/bootstrap-switch.min.js') }}" type="text/javascript"></script>

   
    <script src="{{ asset('js/fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput_locale_es.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/app/newTeg/newTegModule.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/app/newTeg/newTegController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('plugins/ngTagsInput/ng-tags-input.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
    $("[name='biblioteca_tegbundle_teg[published]']").bootstrapSwitch();
$('#biblioteca_tegbundle_teg_capitulos_0_file,#biblioteca_tegbundle_teg_capitulos_1_file,#biblioteca_tegbundle_teg_capitulos_2_file,#biblioteca_tegbundle_teg_capitulos_3_file,#biblioteca_tegbundle_teg_capitulos_4_file').fileinput({
    language: 'es',
    uploadUrl: '#',
    allowedFileExtensions : ['pdf'],
    maxFileSize: 10000,
    showUpload: false/*,
    initialPreview: [
            '<img src="/biblioteca2/web/img/logo.jpg" class="file-preview-image" alt="The Moon" title="The Moon">'
        ],*/

});

    </script>
        
{% endblock %}
