{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-switch.min.css') }}" type="text/css" rel="stylesheet" />
    
    <link href="{{ asset('css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />

{% endblock %} 

{% block body %}
    <div ng-app="tegApp" ng-controller="inputTegController as ctrl">
        <h1>Nuevo Trabajo Especial de Grado</h1>
        {{ form_start(form) }}

            {{ form_errors(form) }}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#paso1">Paso 1</a></li>
        <li><a data-toggle="tab" href="#paso2">Paso 2</a></li>
        <li><a data-toggle="tab" href="#paso3">Paso 3</a></li>
    </ul>
    <div class="tab-content">
        <div id="paso1" class="tab-pane fade in active">

            <div class="form-group">
                {{ form_label(form.titulo) }}
                {{ form_errors(form.titulo) }}
                <div class="col-xs-9">
                    {{ form_widget(form.titulo) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.autores) }}
                {{ form_errors(form.autores) }}
                <div id="form-autor" class="col-xs-9">

                    <ul id="autor-fields-list" class="list-unstyled" ng-init="{% for i in form.autores %}add('{{ i.vars.value}}');{% endfor %}">
                        <li ng-repeat="item in authors track by $index">
                                <input class="form-control" type="text" name="[['biblioteca_tegbundle_teg[autores]['+$index+']']]" value="[[item]]:[[$index]]"/>
                                {# { form_errors(form.autores[]) } #}
                                {# { form_widget(autorField) } #}
                        </li>
                    </ul>
                    <a ng-click="addA()" class="btn btn-success btn-sm" href="#" id="add-another-author"><span class="glyphicon glyphicon-plus-sign"></span> [[label_author]] Autor</a>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.tutores) }}
                {{ form_errors(form.tutores) }}
                <div id="form-autor" class="col-xs-9">

                    <ul id="autor-fields-list" class="list-unstyled" ng-init="{% for i in form.tutores %}add('{{ i.vars.value}}');{% endfor %}">
                        <li ng-repeat="item in tuthors track by $index">
                                <input class="form-control" type="text" name="[['biblioteca_tegbundle_teg[tutores]['+$index+']']]" value="[[item]]:[[$index]]"/>
                                {# { form_errors(form.tutores[]) } #}
                                {# { form_widget(autorField) } #}
                        </li>
                    </ul>
                    <a ng-click="addT()" class="btn btn-success btn-sm" href="#" id="add-another-author"><span class="glyphicon glyphicon-plus-sign"></span> [[label_tuthor]] Tutor</a>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.resumen) }}
                {{ form_errors(form.resumen) }}
                <div class="col-xs-9">
                    {{ form_widget(form.resumen) }}
                </div>
            </div>
            
            <div class="form-group" >
                {{ form_label(form.palabrasClave) }}
                {{ form_errors(form.palabrasClave) }}

                <div class="col-xs-9" ng-init="{% for i in form.palabrasClave %}add('{{ i.vars.value}}');{% endfor %}">
                    <div ng-repeat="item in wordkeys track by $index" class="alert alert-warning alert-dismissible" style="display: block;float: left;margin-right: 5px;">
                        <button type="button" class="close" ng-click="remove($index)"><span aria-hidden="true">&times;</span></button>
                        <input type="text" name="[['biblioteca_tegbundle_teg[palabrasClave]['+$index+']']]" value="[[item]]:[[$index]]"/>
                    </div>
                    <div>
                        <input ng-model="newWordkey" type="text" ng-enter="add(newWordkey)" value=""></input><a ng-click="add(newWordkey)" class="btn btn-success btn-sm" href="#" id="add-another-word"><span class="glyphicon glyphicon-plus-sign"></span> Agregar palabra clave</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.publicacion) }}
                {{ form_errors(form.publicacion) }}
                {% for Field in form.publicacion %}
                    <div class="col-xs-3" ng-init="{{Field.vars.id}}=parseInt('{{Field.vars.value}}');">
                        {{ form_errors(Field) }}
                        {{ form_widget(Field, { 'attr': {'class': 'form-control', 'ng-model':(Field.vars.id)} }) }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form_label(form.escuela) }}
                {{ form_errors(form.escuela) }}
                <div class="col-xs-9" ng-init="{{form.escuela.vars.id}}='{{form.escuela.vars.value}}';">
                    {{ form_widget(form.escuela, { 'attr': {'ng-model':(form.escuela.vars.id)} }) }}
                </div>
            </div>
            
            <div class="form-group" >
                {{ form_label(form.cota) }}
                {{ form_errors(form.cota) }}
                
                <div class="col-xs-9">
                    <div class="input-group">
                        <span class="input-group-addon">[[cota_school]]</span>
                        <input type="number" placeholder="Indice" ng-model="cota_index" required="required" class="form-control" min="1" max="99">
                        <span id="cota_year" class="input-group-addon">[[cota_year]]</span>
                    </div>
                </div>
                {{ form_widget(form.cota, { 'attr': {'style': 'display:none', 'ng-model':'cota'} }) }}
            </div>
        </div>
        <div id="paso2" class="tab-pane fade">
            <div class="form-group">
                {{ form_label(form.capitulos) }}
                {{ form_errors(form.capitulos) }}
                
                <div class="row">
                        {% for capField in form.capitulos %}
                                {{ form_errors(capField) }}
                                {{ form_widget(capField, { 'attr': {'class': 'col-lg-3 col-md-3 col-xs-6', 'ng-model':(capField.vars.id)} }) }}
                        {% endfor %}
                </div>
            </div>
        </div>
        <div id="paso3" class="tab-pane fade">
            <div class="form-group">
                
                {{ form_errors(form.published) }}
                <div class="col-xs-offset-3 col-xs-9">
                    {{ form_widget(form.published) }}
                    {{ form_label(form.published) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.reset) }}
                </div>
            </div>
        </div>
    </div>
      
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false} ) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('teg') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
   
    <script src="{{ asset('js/fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput_locale_es.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/teg.js') }}" type="text/javascript"></script>
    
    <script src="{{ asset('js/tegController.js') }}" type="text/javascript"></script>
    

    
{% endblock %}
