{% extends '::base.html.twig' %}

{% block body %}
    
    <div class="form-horizontal col-md-9 col-xs-12">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div>
                <a class="btn btn-warning" href="{{ path('teg_edit', { 'id': entity.id }) }}">
                Edit
                </a>
                {{ form(delete_form) }} 
            </div>
        {% endif %}
        <h4>{{ entity.titulo }}</h4>
        <div>
            <a href="{{ path('teg') }}">
            Back to the list</a>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">cota</label> 
            <div class="col-xs-9">
                <p class="form-control-static">    {{ entity.cota}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Palabras Clave</label> 
            <div class="col-xs-9">
                <p class="form-control-static">    {% for iField in entity.palabrasclave %} {{ iField }}, {% endfor %}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Fechas de Publicación</label> 
            <div class="col-xs-9">
                <p class="form-control-static">    {{ entity.publicacion|date('d-m-Y') }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Resumen</label> 
            <div class="col-xs-9">
                <p class="form-control-static">    {{ entity.resumen}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Autor(es)</label> 
            <div class="col-xs-9">
                <p class="form-control-static">    {% for iField in entity.autores %} {{ iField }}, {% endfor %}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Tutor(es)</label> 
            <div class="col-xs-9">
                <p class="form-control-static">    {% for iField in entity.tutores %} {{ iField }}, {% endfor %}</p>
            </div>
        </div>
    </div>
    

            
                <th>Capitulos</th>
                
                <td>{# 
                    <ul id="cap-fields-list" >
                        {% for iField in entity.capitulos %}
                            <li>
                                {{ iField }}
                                <a href="{ { asset('uploads/capitulos/' ~ iField) } }">View capitulo (PDF)</a>
                            </li>
                        {% endfor %}
                    </ul> #}
                </td>
{% endblock %}
